@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

:root {
  /* font-color  */
  --over-primary: #fff;
  --buttons: #0516ba;
  --primary: #173c6c;
  --link: #202124;
  --heading: #173c6c;
  --body-color: #eceff5;
  --less-imp: #abb1ba;
  --paragraph: #36547e;
  --light-bg: #b6c7de;
  /* font-family */
  --font: "Lora", serif;

  /* font-size  */
  --font-base: 0.9rem;
  --font-lg-base: 0.96rem;
  --font-lg: 1.25rem;
  --font-xlg: 1.5rem;
  --font-sm: 0.8rem;
  --font-xsm: 0.6rem;
  --font-xxsm: 0.4rem;
  --font-carousel-heading: 3.2rem;
  --font-carousel-subHeading: 1.17rem;

  /* radius  */
  --br-xlg: 16px;
  --br-lg: 12px;
  --br-base: 8px;
  --br-sm: 4px;
}

/* custom css  */

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: var(--over-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--less-imp);
  border-radius: 50rem;
}

h1 {
  font-size: var(--font-xlg);
  font-weight: 700;
  color: var(--over-primary);
  text-transform: capitalize;
  letter-spacing: 1.5px;
  line-height: 2rem;
}

h2 {
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--heading);
  text-transform: capitalize;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
}

h3 {
  font-size: var(--font-base);
  font-weight: 600;
  color: var(--heading);
  text-transform: capitalize;
  margin-bottom: 0.3rem;
  line-height: 1.2rem;
  letter-spacing: 0.8px;
  word-break: break-all;
}

h4 {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--link);
  text-transform: capitalize;
  line-height: 0.9rem;
  margin: 0;
  letter-spacing: 0.8px;
  word-wrap: break-word;
}

h5 {
  font-size: var(--font-lg-base);
  font-weight: 400;
  color: var(--heading);
  text-transform: capitalize;
  line-height: 1rem;
  margin: 0;
  letter-spacing: 0.8px;
  word-wrap: break-word;
}

p {
  font-size: var(--font-base);
  font-weight: 400;
  color: var(--paragraph);
  letter-spacing: 0.7px;
  word-wrap: break-word;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

input {
  color: var(--primary) !important;
  font-size: var(--font-sm) !important;
  font-weight: 500 !important;
}

.btn-close:focus {
  box-shadow: unset;
  border: unset;
}

.main-btn {
  display: block;
  flex-basis: fit-content;
  padding: 0.2rem 1.2rem;
  background-color: var(--primary);
  border-radius: 50rem;
  font-size: var(--font-base);
  color: var(--over-primary);
  border: 0;
  box-shadow: 0;
}

/* custom css  */

/* dark theme colors */

/* [app-theme='dark']{
    --extra-light-bg:#3f3d3d;
    --light-bg:#2b2929;
    --dark-bg:#201f1f;
    --text:rgb(231, 223, 223);
    --label:rgb(202, 200, 200);
    --disabled:rgb(165, 160, 160);
} */

/* dark theme colors */

/* Loader */

span.load-strip {
  width: 0.3rem;
  height: 1.3rem;
  background-color: var(--primary);
  border-radius: 50rem;
  opacity: 0.5;
  animation: load 1500ms infinite linear;
}

span.load-strip:nth-child(even) {
  height: 2.2rem;
}

span.load-strip:nth-child(3) {
  height: 3.1rem;
}

@keyframes load {
  25% {
    scale: 1 1.5;
    opacity: 1;
  }

  50% {
    scale: 1;
  }
}

/* loader */

/* carousel  */

.carousel h1 {
  font-size: var(--font-carousel-heading);
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 3.2rem;
  margin-bottom: 0;
}

.carousel h3 {
  font-size: var(--font-carousel-subHeading);
  font-weight: 400;
  letter-spacing: 1.7px;
  color: var(--light-bg) !important;
  margin-bottom: 0;
}

.carousel p {
  color: rgb(223, 221, 221);
  letter-spacing: 1.2px;
  margin-bottom: 0;
}
.carousel-indicators [data-bs-target] {
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  margin: 0;
  border: unset;
  background-color: #fff;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  flex-direction: column;
  gap: 1vw;
  align-items: flex-end;
  padding: 0;
  margin: 0 2% 0 0;
}

.caption {
  margin: 0 3rem 1.8rem 4.5rem;
  background-color: transparent;
}

.carousel-item {
  box-shadow: inset 64px -90px 2000px 10px #000;
  height: 475px;
}

.vote_count {
  color: var(--over-primary);
  font-size: var(--font-base);
  letter-spacing: 1.3px;
}

.vote_count .fa-star {
  color: rgb(255, 193, 22);
  font-size: 0.8rem;
}

.carousel button i {
  font-size: 1rem;
}

.lang {
  padding: 0.25rem 0.3rem;
  border-radius: var(--br-sm);
  text-transform: uppercase;
  font-weight: 400;
  color: var(--over-primary);
  font-size: var(--font-sm);
  letter-spacing: 1px;
  line-height: 0.8rem;
  background-color: var(--primary);
}

.caption h2,
.caption h3,
.caption .lang,
.caption h4 {
  color: var(--over-primary);
}

.caption .lang {
  border-color: var(--over-primary);
}

.fa-star {
  font-size: var(--font-sm);
}

/* carousel  */

/* media section  */
.media.card {
  border: unset;
  padding: 0;
}
.media .card-header {
  background-color: transparent;
  border-bottom: unset;
  margin-top: 1rem;
}

.media-card-body,
.media-card-body img,
.media-card .card-body {
  border-radius: var(--br-base);
}
.media-card-body {
  border: unset;
  flex-basis: min-content;
}

.media-card-body .card-body {
  padding: 0;
}
.media-card-body .card-footer {
  padding-left: 0;
  background-color: transparent;
  border: unset;
  flex-basis: min-content;
}

.media_section {
  overflow-x: auto;
}

.media-img {
  position: relative;
}

.media-type {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: var(--br-base);
  border-bottom-left-radius: var(--br-base);
  padding: 0.2rem 0.3rem;
  background-color: var(--primary);
  color: var(--over-primary);
  font-size: var(--font-xsm);
  font-weight: 600;
  letter-spacing: 0.9px;
  text-transform: capitalize;
}

/* media section  */

/* badge  */
.cbadge {
  background-color: var(--primary);
  display: inline-flex;
  align-items: center;
  font-size: var(--font-lg-base);
  font-weight: 500;
  color: var(--over-primary);
  position: relative;
  height: 1.83rem;
  padding: 0 0.8rem;
}

.cbadge::before,
.cbadge::after {
  position: absolute;
  top: 0;
  width: 1.2rem;
  height: 1.8rem;
  content: "";
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  background-color: var(--primary);
}
.cbadge::before {
  left: -9px;
  border-top-left-radius: var(--br-sm);
  border-bottom-left-radius: var(--br-sm);
}

.cbadge::after {
  right: -10.5px;
  border-top-right-radius: var(--br-sm);
  border-bottom-right-radius: var(--br-sm);
}

#cbadge-container {
  margin-left: 1rem;
}

/* badge */

/* button-containers  */

.btn-container {
  display: flex;
  gap: 0.2rem;
  border-radius: 50rem;
  border: 1px solid var(--primary);
}

.btn-container input[type="radio"] {
  display: none;
}

.btn-container label {
  padding: 0.05rem 0.5rem;
  color: var(--link);
  font-weight: 400;
  font-size: var(--font-base);
  display: block;
  border-radius: 50rem;
  cursor: pointer;
}

.btn-container input:checked + label {
  background-color: var(--paragraph);
  color: var(--over-primary);
}
/* button-containers  */

/* genre-body */

.genre-body {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 1rem;
}

.genre-body .card-body {
  padding: 0;
  border: 0;
}
.genre-body .card-footer {
  background-color: transparent;
  text-align: center;
  border: 0;
  padding: 0;
  padding-top: 0.5rem;
}
.genre-body .card {
  border: 0;
  /* box-shadow: 0 0 12px #c2bbbb; */
  padding: 0.4rem;
  width:90px
}
/* genre-body */

/* popular-list  */

.popular-list{
  list-style-type: none;
flex-basis: 300px;
flex-shrink: 0;
  border:1px solid var(--light-bg);
  border-radius: var(--br-base);
  padding-left: 0;
}
.popular-list > li{
  padding:0.5rem 1rem;
}

.popular-list > li > div{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.popular-list > li  img{
  height: 65px;
  border-radius: var(--br-sm);
}

.popular-list > li:first-child{
  text-align: center;
  background-color: var(--primary);
  font-size: var(--font-lg);
  letter-spacing: 1.5px;
  color:var(--over-primary);
  border-top-left-radius: var(--br-base);
  border-top-right-radius: var(--br-base);
}

.popular-list > li:nth-child(odd):not(:first-child){
  background-color: var(--body-color);
}

.popular-list > li:last-child{
  text-align: center;
  border-bottom-left-radius: var(--br-base);
  border-bottom-right-radius: var(--br-base);
  color: var(--buttons);
}

.stats-list{
  list-style-type: none;
  padding-left: 0;
}

.stats-list > li:first-child{
  padding:0.2rem 0;
}

.stats-list > li:first-child{
  font-size: var(--font-sm);
}
.stats-list > li:first-child i.fa-star{
  font-size: var(--font-xsm);
  color: rgb(255, 193, 22);
}

.stats-list > li:first-child i.fa-square-poll-vertical{
  color: var(--heading);
}

.stats-list > li:last-child{
  font-size: var(--font-xsm);
  color:var(--heading)
}
/* popular-list  */