@media screen and (max-width: 996px) {
  .carousel-item {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-base: 1rem;
    --font-lg-base: 1.1rem;
    --font-lg: 1.25rem;
    --font-xlg: 1.5rem;
    --font-sm: 0.75rem;
    --font-xsm: 0.6rem;
    --font-xxsm: 0.45rem;
    --font-carousel-heading: 2.5rem;
    --font-carousel-subHeading: 1.2rem;
  }

  .cbadge,
  .cbadge::after,
  .cbadge::before {
    height: 1.55rem;
  }

  .carousel-item {
    height: 370px;
  }
}

@media screen and (max-width: 576px) {
  .caption {
    margin: 0 1.8rem 1.8rem;
  }
}
